name: DevOps Notes CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t devops-notes-app .

      - name: Tag Docker image
        run: |
          docker tag devops-notes-app martinjolly008/devops-notes-app:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push martinjolly008/devops-notes-app:latest 
